@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}

body{
    /* background-color: rgb(241, 241, 241); */
    background-color: #fffaf6;
}

.span{
    text-align: center;
    height: 25px;
    background-color: #fffaf6;
    padding-top: 2px;
    color:black;
    
}

header{
    display:flex ;
    justify-content: space-around;
    height: 80px;
    background-color: #d1cab377;
    box-shadow: 1px -5px 20px -5px rgba(0, 0, 0, 0.197);
    border-bottom: 10px solid #fff5ed;

}

.logo{
    width: 150px;
    height: 80px;
    margin-left: -100px;
}

.logo img{
    width: 150px;
    height: 80px;
}

nav ul {
    display: flex;
    position: relative;
    color: black;
   
}

ul li{
    margin-top: 30px;
    padding-left: 30px;
    color: black;
    
    
}

li a{
    color: black;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 15px;
    letter-spacing: 1.5px;
}



.icono {
    margin-top: 30px;
    font-size: 20px;
    margin-right: -100px;
    
    
    
}

.icono a{
    padding-left: 20px;
    color: black;
}

.icono label{
    padding-left: 20px;
    cursor: pointer;
}

.contador{
    position: absolute;
    font-size: 15px;
    background-color: rgb(230, 230, 230);
    padding: 3px 8px 3px 8px;
    border-radius: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 1670px;
    margin-top: 10px;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.421);
}


.banner{
    width: 100%;
    height: 800px;
}
.banner img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}


.contenedor-general{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 50px;
    
    
    
    

    
    
}
.contenedor-general2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general3{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general4{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general5{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general6{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    margin-bottom: 200px;

}
.contenedor{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1.0em rgba(6, 6, 6, 0.245);
    width: 220px;
    height: 470px;
    margin: 10px;
    cursor: pointer;
    

    
}
.contenedor:hover{
    box-shadow: 0 0 1.0em rgba(6, 6, 6, 0.208);
    transition: all 0.5s ease;

}

.contenedor .imagen{
    width: 220px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    
    
    
    
    
}

.imagen img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    
}

.datos{
    
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 220px;
    max-height: 170px;
    height: 170px;
    background-color: #fcfcfc;
    border-top: 5px solid #d7d7d735;
}
.datos span{
    margin-top: 10px;
    margin-left: 20px;
}

.datos .descripcion{
    font-size: 15px;
    font-weight: bold;
    max-width: 220px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.datos .precio{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
}
.datos .envio{
    font-size: 15px;
    color: #8b8b8b;
    letter-spacing: 1px;
}

.datos .btn{
    font-family: 'Eczar', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: unset;
    text-align: center;
    color: #212121;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    position: relative;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 250ms;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.datos .btn:hover{
    background-color: rgb(33, 33, 33);
    color: white;
    box-shadow: 4px 8px 19px 3px rgba(0,0,0,0.27);
} 




/* estilos slider */

.contenedor-slider{
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    margin: auto;
    object-fit: cover;

    
}

.slider{
    display: flex;
    width: 500%;
    height: 100%;
    margin-left: -100%;
    cursor: pointer;
    

}

.slider-seccion{
    width: 100%;
    height: 100%;
    
    
}

.slider-img{
    width: 100%;
    height: 600px;
    display: block;
    object-fit: cover;

}

.slider_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;

    font-family: monospace;
    color: white;
    cursor: pointer;
    
    margin-top: 260px;
    
    
   
}


.slider_btn-r{
    right: 30px;
    padding-left: 15px;
}
.slider_btn-l{
    left: 30px;
    padding-left: 15px;
}


.slider2{
    width: 100%;
    height: 800px;
    margin-top: -100px;
    background-image: url(".slider/banner6.jpg");
}

.slider2 h3{
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 25px;
    letter-spacing: 4px;
}

.slider3{
    max-width: 1400px;
    height: 300px;
    margin: auto;
    margin-top: -100px;
    margin-bottom: 200px;
}

.slider3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}








.tituloh2{
    width: 1400px;
    margin: auto;
    
    height: 60px;
    border-bottom: 4px solid #fdf0e6 ;
    
}

.tituloh2 h2{
    font-family: 'Roboto', sans-serif;
margin-top: 0px;
    letter-spacing: 4px;
    padding-top: 20px;
    font-size: 25px;
    color: rgb(146, 146, 146);
   text-align: center;
    padding-bottom: 15px;
    font-weight: bold;

}


/* estilos carrusel */

.carrusel {
    width: 1500px;
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;

  }
  
  .carrusel-item {
    min-width: 250px;
    max-width: 250px;
    height: 110px;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px;
  }
  
  .carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .carrusel-item:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px -5px  rgba(6, 6, 6, 0.252);
    transition: all 0.5s ease;
  }
  

  /* estilos carrito lateral */

  #btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 450px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
}


/* estilos footer */




.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: #fdeee2;
    border-top: 10px solid #fff5ed;
    box-shadow: 1px -10px 20px -5px rgba(0, 0, 0, 0.197);
   
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 250px;
    height: 150px;
    margin-left: 100px;
    margin-top: -50px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}