@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}

body{

    
}

.span{
    text-align: center;
    height: 30px;
    background-color: #000000;
    padding-top: 5px;
    color:rgba(255, 255, 255, 0.461);
    border-bottom: 1px solid rgba(255, 255, 255, 0.289);
    
}



header{
    display:flex ;
    justify-content: space-around;
    height: 160px;
    /* background-color: #d1cab377; */
    /* background-image: radial-gradient(circle at 50% 48.73%, #ffffff 0, #ffffff 16.67%, #ffffff 33.33%, #fdfdfd 50%, #f0e8eb 66.67%, #e4dee1 83.33%, #363636 100%); */
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.197);
    /* background-image: url(../banner/header-negro.png);
    background-size:cover ; */
    background-color: #000000;
    /* border-top: 1px solid white; */
    


}

.logo{
    width: 500px;
    height: 150px;
    margin-left: 160px;
    margin-top: 25px;
    position: absolute;
}



.logo h1{
    color: white;
    font-size: 45px;
    font-weight: none;
    letter-spacing: 10px;
    font-family: 'Zen Antique', serif;

    
    

}

nav ul {
    display: flex;
    position: relative;
    color: black;
    margin-top: 90px;
    margin-left: 400px;
   
}

ul li{
    margin-top: 30px;
    padding-left: 30px;
    color: black;
    
    
}

li a{
    color: rgba(255, 255, 255, 0.955);
    text-decoration: none;
    font-family: 'Aboreto', cursive;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

li a:hover{
    cursor: pointer;
    color: red;
    transition: all 0.3s ease;
}



.icono {
    margin-top: 120px;
    font-size: 20px;
    margin-right: -100px;
    cursor: pointer;
    
    
    
}

.icono a{
    padding-left: 20px;
    color: rgb(255, 255, 255);
}

.icono label{
    padding-left: 20px;
    cursor: pointer;
    color: white;
}



.contador{
    position: absolute;
    font-size: 15px;
    background-color: rgb(230, 230, 230);
    padding: 3px 8px 3px 8px;
    border-radius: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 1640px;
    margin-top: 110px;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.421);
}


.banner{
    width: 100%;
    height: 800px;
}
.banner img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}


.contenedor-general{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: -150px;
    
    
    
    

    
    
}
.contenedor-general2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general3{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general4{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general5{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    

}
.contenedor-general6{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 340px;
    margin-top: 10px;
    margin-bottom: 200px;

}

.contenedor-general7{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: 450px;

}
.contenedor{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1.0em rgba(6, 6, 6, 0.245);
    width: 220px;
    height: 470px;
    margin: 10px;
    cursor: pointer;
    

    
}
.contenedor:hover{
    box-shadow: 0 0 1.0em rgba(0, 0, 0, 0.721);
    transition: all 0.5s ease;

}

.contenedor .imagen{
    width: 220px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    
    
    
    
    
}

.imagen img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    
}

.datos{
    
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 220px;
    max-height: 170px;
    height: 170px;
    background-color: #fcfcfc;
    border-top: 5px solid #d7d7d735;

}


.datos span{
    margin-top: 10px;
    margin-left: 20px;
}

.datos .descripcion{
    font-size: 15px;
    font-weight: bold;
    max-width: 220px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.datos .precio{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    display: flex;
    margin-left: 35px;
}
.datos .precio-p{
    display: flex;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    font-weight: bold;
}
.datos .precio-p2{
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.datos .precio-p3{
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.datos .precio-p4{
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.datos .precio-p6{
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.datos .precio-p5{
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.contenedor-general2 .datos .precio-p{
    display: flex;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
}

.datos .envio{
    font-size: 15px;
    color: #8b8b8b;
    letter-spacing: 1px;
}

.datos .btn{
    font-family: 'Eczar', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: unset;
    text-align: center;
    color: #212121;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    position: relative;
    font-size: 13px;
    letter-spacing: 2px;
    transition: all 250ms;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.datos .btn:hover{
    background-color: rgb(33, 33, 33);
    color: white;
    box-shadow: 4px 8px 19px 3px rgba(0,0,0,0.27);
} 


/* estilos slider */

.contenedor-slider{
    width: 100%;
    max-height: 440px;
    overflow: hidden;
    margin: auto;
    box-shadow: 4px -8px 19px 3px rgba(0,0,0,0.27);

    margin-top: -100px;

    
}

.slider{
    display: flex;
    width: 400%;
    height: 440px;
    margin-left: -100%;
    cursor: pointer;
    

}

.slider-seccion{
    width: 100%;
    height: 100%;
    
    
}

.slider-img{
    width: 100%;
    height: 440px;
    display: block;
    object-fit: cover;

}

.slider_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;

    font-family: monospace;
    color: white;
    cursor: pointer;
    
    margin-top: 260px;
    
    
   
}


.slider_btn-r{
    right: 30px;
    padding-left: 15px;
    display: none;
}
.slider_btn-l{
    left: 30px;
    padding-left: 15px;
    display: none;
}


.slider2{
    width: 100%;
    height: 600px;
    margin-top: -100px;
    background-color: #000000;
    box-shadow: 1px -15px 20px -5px rgba(0, 0, 0, 0.325);
}

.slider2 h3{
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 25px;
    letter-spacing: 4px;
    color: white;
}


.slider2 .b-lateral{
    position: absolute;
    width: 350px;
    height: 600px;
}

.b-lateral img{
    width: 100%;
    height: 100%;
}

.slider4{
    width: 100%;
    height: 600px;
    margin-top: -165px;
    background-color: #ffffff;
    box-shadow: 1px 3px 20px -5px rgba(0, 0, 0, 0.325);
}

.slider4 .b-lateral img{
    max-width: 160px;
    max-height: 70px;
    margin-top: 250px;
    margin-left: 100px;
}







.tituloh2{
    width: 100%;
    margin: auto;
    background-color: black;
    height: 60px;
    border-bottom: 4px solid #acacac ;
    box-shadow: 1px 13px 20px 5px rgba(0, 0, 0, 0.325);
}

.tituloh2 h2{
    font-family: 'Aboreto', cursive;
margin-top: 0px;
    letter-spacing: 4px;
    padding-top: 20px;
    font-size: 17px;
    color: rgb(0, 0, 0);
   text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;

}




  /* estilos carrito lateral */

  #btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(3, 3, 3, 0.531);
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    opacity: 1;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 450px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(300%);
    margin-left: 1455px;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu .escape{
    position: absolute;
    right: 5px;
    top: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
}


/* estilos usuario*/

.usuario-input{
    display: none;
}

.dato-usuario{
    display: flex;
    width: 400px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid white;
    position: absolute;
    border-radius: 3px;
    opacity: 0;
    margin-left: 1400px;
    margin-top: 70px;
    box-shadow: 1px 10px 20px 1px rgba(247, 246, 246, 0.22);
}

#btn-usuario:checked ~ .dato-usuario{
opacity: 1;
transition: all 0.5s ease;
}

.dato-usuario span{
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
    color: white;
}
.dato-usuario p{
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* estilos footer */


footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 1px -10px 20px 1px rgba(0, 0, 0, 0.15);
    border-top: 10px solid rgba(193, 193, 193, 0.206);
    
}

footer .logo-footer{
    width: 500px;
    margin-left: 850px;
    margin-top: 60px;
}
footer .logo-footer h4{
    font-size: 40px;
    letter-spacing: 10px;
    font-family: 'Zen Antique', serif;
}

footer .datos-footer{
    display: flex;
    justify-content: center;



}

.datos-footer ul{
    display: flex;
    align-items: center;
}
.datos-footer ul li{
    font-size: 12px;
    font-family: 'Aboreto', cursive;
    letter-spacing: 3px;
    border-right: 1px solid black;
    padding-right: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

.redes{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
   
}

.redes ul{
    display: flex;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.551) ;
    box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.068);
   
}

.redes ul li{
    font-size: 25px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px;
    margin-top: 20px;

}

.redes ul li:hover{
    color: #dc1f1f;
}

.derechos{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    height: 60px;
    
}

.derechos p{
    color: rgb(56, 56, 56);
    margin-top: 20px;
}